<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CategoryTitle</key>
		<string>Game Actions</string>
		<key>CategoryCode</key>
		<integer>100</integer>
		<key>CategoryEvents</key>
		<array>
			<dict>
				<key>EventCode</key>
				<integer>101</integer>
				<key>EventTitle</key>
				<string>Goal</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>102</integer>
				<key>EventTitle</key>
				<string>Assist</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>103</integer>
				<key>EventTitle</key>
				<string>Save</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>104</integer>
				<key>EventTitle</key>
				<string>Groundball</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>105</integer>
				<key>EventTitle</key>
				<string>Faceoff won</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>106</integer>
				<key>EventTitle</key>
				<string>Faceoff lost</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>107</integer>
				<key>EventTitle</key>
				<string>Shot</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>108</integer>
				<key>EventTitle</key>
				<string>Clear successful</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>109</integer>
				<key>EventTitle</key>
				<string>Clear failed</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>110</integer>
				<key>EventTitle</key>
				<string>Turnover</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>111</integer>
				<key>EventTitle</key>
				<string>Caused turnover</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>112</integer>
				<key>EventTitle</key>
				<string>Time out</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>115</integer>
				<key>EventTitle</key>
				<string>Extra-man opportunity</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>116</integer>
				<key>EventTitle</key>
				<string>Goal allowed</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>117</integer>
				<key>EventTitle</key>
				<string>Shot on goal</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>118</integer>
				<key>EventTitle</key>
				<string>Interception</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>119</integer>
				<key>EventTitle</key>
				<string>Man-down</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>120</integer>
				<key>EventTitle</key>
				<string>Takeaway</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>121</integer>
				<key>EventTitle</key>
				<string>Unforced error</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>122</integer>
				<key>EventTitle</key>
				<string>End of period</string>
				<key>StatCategory</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryTitle</key>
		<string>Personal Fouls</string>
		<key>CategoryCode</key>
		<integer>200</integer>
		<key>CategoryEvents</key>
		<array>
			<dict>
				<key>EventCode</key>
				<integer>201</integer>
				<key>EventTitle</key>
				<string>Cross check</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>202</integer>
				<key>EventTitle</key>
				<string>Illegal body check</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>203</integer>
				<key>EventTitle</key>
				<string>Check involving head or neck</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>204</integer>
				<key>EventTitle</key>
				<string>Illegal crosse</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>205</integer>
				<key>EventTitle</key>
				<string>Use of illegal equipment</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>206</integer>
				<key>EventTitle</key>
				<string>Slashing</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>207</integer>
				<key>EventTitle</key>
				<string>Tripping</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>208</integer>
				<key>EventTitle</key>
				<string>Unnecessary roughness</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>209</integer>
				<key>EventTitle</key>
				<string>Unsportsmanlike conduct</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryTitle</key>
		<string>Technical Fouls</string>
		<key>CategoryCode</key>
		<integer>300</integer>
		<key>CategoryEvents</key>
		<array>
			<dict>
				<key>EventCode</key>
				<integer>301</integer>
				<key>EventTitle</key>
				<string>Crease violation</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>302</integer>
				<key>EventTitle</key>
				<string>Goalkeeper interference</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>303</integer>
				<key>EventTitle</key>
				<string>Holding</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>304</integer>
				<key>EventTitle</key>
				<string>Illegal offensive screening</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>305</integer>
				<key>EventTitle</key>
				<string>Illegal procedure</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>306</integer>
				<key>EventTitle</key>
				<string>Conduct foul</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>307</integer>
				<key>EventTitle</key>
				<string>Interference</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>308</integer>
				<key>EventTitle</key>
				<string>Offside</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>309</integer>
				<key>EventTitle</key>
				<string>Pushing</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>310</integer>
				<key>EventTitle</key>
				<string>Stalling</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>311</integer>
				<key>EventTitle</key>
				<string>Warding off</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>312</integer>
				<key>EventTitle</key>
				<string>Witholding ball from play</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>313</integer>
				<key>EventTitle</key>
				<string>Targeting head or neck</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>CategoryTitle</key>
		<string>Expulsion Fouls</string>
		<key>CategoryCode</key>
		<integer>400</integer>
		<key>CategoryEvents</key>
		<array>
			<dict>
				<key>EventCode</key>
				<integer>401</integer>
				<key>EventTitle</key>
				<string>Fighting</string>
				<key>StatCategory</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>402</integer>
				<key>EventTitle</key>
				<string>Flagrant misconduct</string>
				<key>StatCategory</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>403</integer>
				<key>EventTitle</key>
				<string>Use of tobacco</string>
				<key>StatCategory</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
