<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CategoryTitle</key>
		<string>Game Actions</string>
		<key>CategoryCode</key>
		<integer>100</integer>
		<key>CategoryEvents</key>
		<array>
			<dict>
				<key>EventCode</key>
				<integer>101</integer>
				<key>EventTitle</key>
				<string>Goal</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>102</integer>
				<key>EventTitle</key>
				<string>Assist</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>103</integer>
				<key>EventTitle</key>
				<string>Save</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>104</integer>
				<key>EventTitle</key>
				<string>Groundball</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>107</integer>
				<key>EventTitle</key>
				<string>Shot</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>108</integer>
				<key>EventTitle</key>
				<string>Clear successful</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>109</integer>
				<key>EventTitle</key>
				<string>Clear failed</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>110</integer>
				<key>EventTitle</key>
				<string>Turnover</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>111</integer>
				<key>EventTitle</key>
				<string>Caused turnover</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>112</integer>
				<key>EventTitle</key>
				<string>Time out</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>116</integer>
				<key>EventTitle</key>
				<string>Goal allowed</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>117</integer>
				<key>EventTitle</key>
				<string>Shot on goal</string>
				<key>StatCategory</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>119</integer>
				<key>EventTitle</key>
				<string>Foul</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>120</integer>
				<key>EventTitle</key>
				<string>8m Free position awarded</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>121</integer>
				<key>EventTitle</key>
				<string>8m Free position shot</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>122</integer>
				<key>EventTitle</key>
				<string>Yellow card</string>
				<key>StatCategory</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>123</integer>
				<key>EventTitle</key>
				<string>Red card</string>
				<key>StatCategory</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>124</integer>
				<key>EventTitle</key>
				<string>Draw control</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>125</integer>
				<key>EventTitle</key>
				<string>Draw possession</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>EventCode</key>
				<integer>126</integer>
				<key>EventTitle</key>
				<string>Draw taken</string>
				<key>StatCategory</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
